<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.saitejn.mapper.ClassinfoMapper" >
  <resultMap id="BaseResultMap" type="com.saitejn.pojo.Classinfo" >
    <id column="classid" property="classid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="eclasstime" property="eclasstime" jdbcType="VARCHAR" />
    <result column="bclasstime" property="bclasstime" jdbcType="VARCHAR" />
    <result column="classname" property="classname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    classid, uid, eclasstime, bclasstime, classname
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.saitejn.pojo.ClassinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from classinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from classinfo
    where classid = #{classid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from classinfo
    where classid = #{classid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.saitejn.pojo.ClassinfoExample" >
    delete from classinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.saitejn.pojo.Classinfo" >
    insert into classinfo (classid, uid, eclasstime, 
      bclasstime, classname)
    values (#{classid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{eclasstime,jdbcType=VARCHAR}, 
      #{bclasstime,jdbcType=VARCHAR}, #{classname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.saitejn.pojo.Classinfo" >
    insert into classinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="classid != null" >
        classid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="eclasstime != null" >
        eclasstime,
      </if>
      <if test="bclasstime != null" >
        bclasstime,
      </if>
      <if test="classname != null" >
        classname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="classid != null" >
        #{classid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="eclasstime != null" >
        #{eclasstime,jdbcType=VARCHAR},
      </if>
      <if test="bclasstime != null" >
        #{bclasstime,jdbcType=VARCHAR},
      </if>
      <if test="classname != null" >
        #{classname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.saitejn.pojo.ClassinfoExample" resultType="java.lang.Integer" >
    select count(*) from classinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update classinfo
    <set >
      <if test="record.classid != null" >
        classid = #{record.classid,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.eclasstime != null" >
        eclasstime = #{record.eclasstime,jdbcType=VARCHAR},
      </if>
      <if test="record.bclasstime != null" >
        bclasstime = #{record.bclasstime,jdbcType=VARCHAR},
      </if>
      <if test="record.classname != null" >
        classname = #{record.classname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update classinfo
    set classid = #{record.classid,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      eclasstime = #{record.eclasstime,jdbcType=VARCHAR},
      bclasstime = #{record.bclasstime,jdbcType=VARCHAR},
      classname = #{record.classname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.saitejn.pojo.Classinfo" >
    update classinfo
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="eclasstime != null" >
        eclasstime = #{eclasstime,jdbcType=VARCHAR},
      </if>
      <if test="bclasstime != null" >
        bclasstime = #{bclasstime,jdbcType=VARCHAR},
      </if>
      <if test="classname != null" >
        classname = #{classname,jdbcType=VARCHAR},
      </if>
    </set>
    where classid = #{classid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.saitejn.pojo.Classinfo" >
    update classinfo
    set uid = #{uid,jdbcType=INTEGER},
      eclasstime = #{eclasstime,jdbcType=VARCHAR},
      bclasstime = #{bclasstime,jdbcType=VARCHAR},
      classname = #{classname,jdbcType=VARCHAR}
    where classid = #{classid,jdbcType=INTEGER}
  </update>
</mapper>